* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: bisque;
    font-family: 'Vollkorn', Georgia, serif;
}

.header {
    border: 1px solid red;
}

img {
    max-width: 100px;
}